// Define variables for your color scheme

// For example:
$red: #E64E53;
$blue: #C2E4EB;
$yellow: #FCC153;
$orange: #c87a0c;
$purple: #5E3550;
$green: #0da423;
$gray: #0E0000;
$light-gray: #cacaca;

// Sky_blue: RGB : 193, 228, 235
// Yellow : RGB : 254, 194, 89
// Red: RGB: 230, 78, 83
// Purple: RGB: 94, 53, 81
