// Specific CSS for your home-page

body {
height: 100%;
margin: 0;
}

.homepage {
  background-color: white;
  border: 3px solid white;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 25px;
  margin-bottom: 30px;
  height: 85.7vh;
}

.homepage img{
  height: 400px;
  width: auto;
}
