<div class="card-title">
  <div><em><strong>
  Menu:
  </strong>
  </em></div>

  <div><em><strong>
  Groceries status:
  </strong>
  </em></div>

  <div><em><strong>
  Cook:
  </strong>
  </em></div>
</div>
