<div class="card-title">
  <div><em><strong>
  Meal and Date:
  </strong>
  </em></div>

  <div><em><strong>
  Groceries status:
  </strong>
  </em></div>

  <div><em><strong>
  Cook of the day:
  </strong>
  </em></div>
</div>
