<div class="card-menu" >

    <div>
      <h4> <%= date %> </h4>
    </div>
    <div>
      <p><em>Click to Add a Meal </em></p>
    </div>
    <div>
      <%= image_tag "logo_MamaPopin_v1.jpg" %>
    </div>

</div>
