<div class="container">
  <h1 class="calendar-heading">Calendar </h1>


    <% @datecount = Date.today %>
    <% @menus.sort_by(&:date).each do |menu| %>
      <% while @datecount < menu.date %>
        <%= render 'card_empty', date: @datecount %>
        <% @datecount += 1 %>
      <% end %>
      <%= render 'card_full', menu: menu %>
      <% @datecount += 1 %>
    <% end %>

    <% while @datecount <= @menus.maximum(:date) %>
      <%= render 'card_empty', date: @datecount %>
      <% @datecount += 1 %>
    <% end %>

    <%= render 'card_empty', date: @datecount%>

</div>
