
<div class="container">
  <h1>My Cook-book # <%= @user.first_name %></h1>

  <ul class="list-inline tabs-cookbook">
    <li>
      <a href="#" class="tab-cookbook active">My Recipes</a>
    </li>
    <li>
      <a href="#" class="tab-cookbook">Suggestions</a>
    </li>
  </ul>
</div>
