<div class="container">
  <div class="cards_show1">

      <div class="recipe_img" >
        <h1 class="">New Recipe</h1>
        <%= image_tag "new_meal_v1.jpeg", alt: "", width: 150 %>
      </div>

    <div class="assignment">
       <div class="bookmark-icon">
       <%= link_to calendar_path do %>
       <%= image_tag "bookmark_white_v1.jpeg", width: 50  %>
       <% end %>
      </div>


    </div>

  </div>

  <div class="cards_show2">

    <div class="recipe border-top border-end border-dark">
      <h2 class="fw-bold"> Recipe </h2>
    </div>

    <div class="ingredients border-top border-dark">
      <h2 class="fw-bold"> Ingredients </h2>

      </div>

  </div>
  <h1> <em>Work in progress...</em></h1>
</div>
