
<div class= "homepage container">
  <%= image_tag "logo_MamaPopin_v1.jpg" %>


    <p>Existing User ?</p>
    <div class="nav-item btn btn-success rounded">
      <%= link_to "Log-in", new_user_session_path, class: "nav-link" %>
    </div>

<div>
<p> 
</p>
</div>

    <p>New User ?</p>
    <div class="nav-item btn btn-danger rounded">
      <%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %>
    </div>


</div>
