<div class="container mt-4 homepage">


<!-- groceries Tabs navbar for today/all  -->

  <ul class="nav nav-pills mb-4 tabs-cookbook" id="groceryTabs" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="tab-cookbook active" id="today-tab" data-bs-toggle="tab" data-bs-target="#today" type="button" role="tab">
        Today's Groceries
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="tab-cookbook" id="all-tab" data-bs-toggle="tab" data-bs-target="#all" type="button" role="tab">
        All Groceries
      </button>
    </li>
  </ul>

  <h1>Grocery List</h1>

<!-- groceries content for today/all -->
  <div class="tab-content" id="groceryTabsContent">
    <div class="tab-pane fade show active" id="today" role="tabpanel">

      <% @today_groceries.group_by { |g| g.meal_ingredient.recipe }.each do |recipe, groceries| %>
        <div class="recipe-section mt-4">
          <h3><%= recipe.title %></h3>
          <%= render 'grocery_list', items: groceries %>
        </div>
      <% end %>

    </div>

    <div class="tab-pane fade" id="all" role="tabpanel">
      <% @all_groceries.group_by { |g| g.meal_ingredient.recipe }.each do |recipe, groceries| %>
        <div class="recipe-section mt-4">
          <h3><%= recipe.title %></h3>
          <%= render 'grocery_list', items: groceries %>
        </div>
      <% end %>

    </div>
  </div>
</div>
