.cards_show1{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0px;
  justify-content: space-between;
  padding-bottom: 100px;
}

.cards_show2{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0px;
  justify-content: space-between;

}
