
.assignment{
  position: absolute;
  right: 10px;

  .fa-solid.fa-bookmark {
    font-size: 50px;
    color: $red;

      }

  .fa-regular.fa-bookmark{
    font-size: 50px;
  }
}

.cards_show1{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0px;
  justify-content: space-between;
  margin-bottom: 1rem;


  h1 {
    margin-top: 16px;
    margin-bottom: 1rem;
    display: flex;
    justify-content: flex-start;
  }

  h3 {
    margin-top: 16px;
    margin-bottom: 1rem;
    padding-top: 5px;
  }
}

.cards_show2{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0px;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding-right: calc(var(--bs-gutter-x)* .9);
  padding-left: calc(var(--bs-gutter-x)* .9);

  h2 {
    margin-top: 16px;
    margin-bottom: 1rem;
    padding-top: 16px;
    padding: 10px;
  }
}
