.card-menu {
  overflow: hidden;
  height: 100px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border: 1px solid $blue;
  padding: 5px;
  margin: 5px;
  justify-content: space-between;
}

.card-menu img {
  height: 30px;
  width: auto;
  object-fit: center;
}

.card-menu h2 {
  font-size: 17px;
  font-weight: bold;
  margin: 0;
}

.card-menu h4 {
  font-size: 15px;
  font-weight: bold;
  margin: 0;
  color: $orange;
}

.card-menu p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-recipe {
  border: 1px solid $blue;
  background-color: $blue;
  border-radius: 5px;
  margin-top:  8px;
  margin-bottom:  5px;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}
