.card-menu {
  text-decoration: none;
  height: 170px;
  background: $blue;
  display: flex;
  align-items: center;
  border: 1px solid $blue;
  padding: 1px 8px 1px 8px;
  margin: 16px;
  justify-content: space-between;
  overflow: visible;
  border-radius: 5px;
}

.card-menu img {
  height: 120px;
  width: 180px;
  object-fit: cover;
  margin-top: 4px;
}

.card-menu h2 {
  font-size: 18px;
  margin: 0;
  color: black;
}

.card-menu h4 {
  font-size: 16px;
  font-family: $body-font;
  font-weight: bold;
  font-style: italic;
  margin: 0;
  color: $purple;
}

.card-menu p {
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 0;
  color: black;
}


.card-menu-left-text {
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80%;
}

.card-recipe {
  height: 90px;
  display: flex;
  border: 1px solid $blue;
  background-color: $blue;
  border-radius: 5px;
  margin: 6px;
  border: 1px solid $blue;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}

.card-recipe h2 {
  font-size: 18px;
  margin: 0;
  color: black;
}

.card-recipe h4 {
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
  margin: 0;
  color: $purple;
}

.card-plus {
  justify-content: right;
  display: flex;
  align-items: right;
}

.card-plus img {
  height: 60px;
  width: auto;
  object-fit: center;
}

.card-title {
  overflow: hidden;
  height: 50px;
  background: white;
  display: flex;
  align-items: center;
  padding: 5px;
  margin: 5px;
  justify-content: space-around;
}

.grocery-card {
  border-top: 1px dashed $blue;
  padding: 6px;

}

.recipe-section h3{
  margin: 1px 4px 12px 4px;
  color: $red
}
