.card-menu {
  text-decoration: none;
  height: 100px;
  background: white;
  box-shadow: 0 0 2px $red;
  display: flex;
  align-items: center;
  border: 1px solid $blue;
  padding: 2px 2px 2px 15px;
  margin: 5px;
  justify-content: space-between;
  overflow: visible;
  border-radius: 5px;
}

.card-menu img {
  height: 65px;
  width: auto;
  object-fit: center;
}

.card-menu h2 {
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  color: black;
}

.card-menu h4 {
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
  margin: 0;
  color: black;
}

.card-menu p {
  text-decoration: none;
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-recipe {
  border: 1px solid $blue;
  background-color: $blue;
  border-radius: 5px;
  margin-top:  8px;
  margin-bottom:  5px;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}

.card-plus {
  justify-content: right;
  display: flex;
  align-items: right;
}

.card-plus img {
  height: 60px;
  width: auto;
  object-fit: center;
}

.card-title {
  overflow: hidden;
  height: 50px;
  background: white;
  display: flex;
  align-items: center;
  padding: 5px;
  margin: 5px;
  justify-content: space-around;
}
