.navbar-meals {
  justify-content: space-between;
  border-bottom: 5px solid $blue;
  display: flex;
  height: 14vh;
  position: sticky;
  top: 0;
  background-color: white;
}



.navbar-meals .navbar-brand img {
  width: 80px;
}

.navbar-bottom {
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: space-around;
  background: $blue;
  height: 14vh;
  position: sticky;
  bottom: 0;
}

.navbar-bottom img {
  height: 60px;
}
