.tabs-cookbook {
  display: flex;
  align-items: center;
}

.tabs-cookbook .tab-cookbook {
  color: white;
  background-color: $light-gray;
  padding: 8px;
  margin: 8px;
  opacity: .4;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 4px solid transparent;
  border-radius: 3px;
}

.tabs-cookbook .tab-cookbook.active {
  opacity: 1;
  background-color: $red;
  border-radius: 3px;
}
