.tabs-cookbook {
  display: flex;
  align-items: center;
  margin: 6px;
}

.tabs-cookbook .tab-cookbook {
  color: white;
  width: 194px;
  background-color: $light-gray;
  padding: 8px;
  margin-bottom: 8px;
  cursor: pointer;
  text-decoration: none;
  border: 4px solid transparent;
  border-radius: 3px;
}

.tabs-cookbook .tab-cookbook.active {
  background-color: $red;
  border-radius: 3px;
}

.tabs-groceries {
  display: flex;
  align-items: center;
  margin: 6px;
}

.tabs-groceries .tab-groceries {
  width: 194px;
  background-color: $light-gray;
  padding: 8px;
  margin-bottom: 8px;
  cursor: pointer;
  text-decoration: none;
  border: 4px solid transparent;
  border-radius: 3px;
}

.tabs-groceries .tab-groceries.active {
  background-color: $yellow;
  border-radius: 3px;
}
